-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :id => "ratings_form", :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    -if @selected.include?(rating)
      = check_box_tag "ratings[#{rating}]", 1, true, :id => "ratings#{rating}"
    -else
      = check_box_tag "ratings[#{rating}]", :id => "ratings#{rating}"
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies
  %thead
    %tr
      %th <a href='#{title_header_path}' id="title_header">Movie Title</a>
      %th Rating
      %th <a href='#{release_date_header_path}' id="release_date_header">Release Date</a>
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
